
@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <p class="text-center">
        Bun venit pe partea de administrator <span class="text-warning">Sistemul de rezervare al companiilor aeriene</span>
    </p>
    <div class="col-md-12">




        <img src="~/ProjectImages/Image1.jpg" style="width:100%; height:500px " />



    </div>
</div>

