@model AirlineReservations.Models.Airline

@{
    ViewData["Title"] = "Delete";
}

<br />
<br />

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 offset-2">
                <div class="card">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="text-center">Sigur doriți să ștergeți acest lucru?</h4>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Airlinecode)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Airlinecode)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.AirlineName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.AirlineName)
                                </dd>
                            </dl>
                            <div>
                                <hr />
                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Șterge" class="btn btn-danger" /> 
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


