@model AirlineReservations.Models.Airline

@{
    ViewData["Title"] = "Edit";
}

<br />
<br />

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">
                            Editați compania aeriană
                        </h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Airlinecode" class="control-label"></label>
                                <input asp-for="Airlinecode" class="form-control" />
                                <span asp-validation-for="Airlinecode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AirlineName" class="control-label"></label>
                                <input asp-for="AirlineName" class="form-control" />
                                <span asp-validation-for="AirlineName" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group">
                                <input style="margin-top:20px" type="submit" value="Actualizați" class="btn btn-warning" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
