@model AirlineReservations.Models.Tickets

@{
    ViewData["Title"] = "Create";
}

<br />
<br />

<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="card">

                    <div class="card-header">
                        <h5 class="text-center"> Creați un bilet nou</h5>
                    </div>
                    <div class="card-body">
                       
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="TicketFrom" class="control-label"></label>
                                    <input asp-for="TicketFrom" placeholder="Tara De la" class="form-control" />
                                    <span asp-validation-for="TicketFrom" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TicletTo" class="control-label"></label>
                                    <input asp-for="TicletTo" placeholder="Țara Către" class="form-control" />
                                    <span asp-validation-for="TicletTo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TimeFrom" class="control-label"></label>
                                    <input asp-for="TimeFrom" placeholder="Data decolarii Ora" class="form-control" />
                                    <span asp-validation-for="TimeFrom" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TimeTo" class="control-label"></label>
                                    <input asp-for="TimeTo"  placeholder="Data sosirii Ora" class="form-control" />
                                    <span asp-validation-for="TimeTo" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TotalSeata" class="control-label"></label>
                                    <input asp-for="TotalSeata" placeholder="Total locuri în compania aeriană" class="form-control" />
                                    <span asp-validation-for="TotalSeata" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SinglePrice" class="control-label"></label>
                                    <input asp-for="SinglePrice" placeholder="Preț pentru un singur drum $" class="form-control" />
                                    <span asp-validation-for="SinglePrice" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TwoWaysPrice" class="control-label"></label>
                                    <input asp-for="TwoWaysPrice" placeholder="Preț în două sensuri $" class="form-control" />
                                    <span asp-validation-for="TwoWaysPrice" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AirlineID" class="control-label"></label>
                                    <select asp-for="AirlineID" class="form-control" asp-items="ViewBag.AirlineID"></select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ClassTypeID" class="control-label"></label>
                                    <select asp-for="ClassTypeID" class="form-control" asp-items="ViewBag.ClassTypeID"></select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Crea" class="btn btn-success mt-3" />
                                </div>
                            </form>
                       
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
