@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <p class="text-center">
        Bine ați venit sistemul de rezervare al companiei aeriene
    </p>
 <div class="col-md-12">

     

      
       <img src="~/ProjectImages/Image4.jpg" style="width:100%; height:600px " />
             


</div>
</div>

